.tiny-uploader-drop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 150px;
  border: 1px dashed var(--tiny-border-color);
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--tiny-fill-color-extra-light);

  .tiny-uploader-drop_text {
    em {
      color: var(--tiny-color-primary);
      font-style: normal;
    }
  }

  .tiny-uploader-drop_hint {
    color: var(--tiny-text-color-secondary);
    font-size: var(--tiny-font-size-small);
    text-align: center;
  }
}

.tiny-uploader-drop:hover {
  border: 1px dashed var(--tiny-color-primary);
}

.tiny-uploader-button {
  cursor: pointer;
  color: var(--tiny-color-primary);
  font-size: 14px;
}

.tiny-uploader-tip {
  color: var(--tiny-text-color-secondary);
  font-size: var(--tiny-font-size-extra-small);
  margin-top: 6px;
  margin-left: 4px;
}
